<section class="patients">
  <ul>
    <% doctor.patients.each do |patient| %>
      <div id="patient-<%= patient.id %>">
        <li><%= patient.name %>
        <%= button_to "Remove Patient",  doctor_patient_path(patient.id, doctor.id), method: :delete %></li>
      </div>
    <% end %>
  </ul>
</section>
